.jumbotron {
    background-image: url('../img/pizza.png');
    text-align: center;
    width: 100%;

}


h1.transbox {
    margin: 30px;
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.card-header {
    background: #F7F7F7;
    list-style: none;
}

.form-check {
    background: #DAEDF6
}
.p-3 {
    padding: $spacer !important;

}
.list-group-item {
    background: #DAEDF6


}
.sauce {
    background: #DAEDF6
}


